@page "/Referencias"
@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer


<PageTitle>@localizer["MenuReferencias"]</PageTitle>
 

 
<div class="table-users">
    <div class="header">@localizer["MenuReferencias"]</div>
    <table>
        <tbody>
            <tr>
                <th>Repositorio GitHub - Diversos proyectos de ejemplos y POCs</th>
            </tr>
            <tr>
                <td>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/rekiem233/">https://github.com/rekiem233/</a></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <th>Web API Demo NET 8 C#(SQL Server) Servicio RESTFUL de CRUD con carga y exportacion de excel</th>
            </tr>
            <tr>
                <td>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://rekiemsoftware-001-site24.jtempurl.com/swagger/index.html">http://rekiemsoftware-001-site24.jtempurl.com/swagger/index.html</a></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <th>Microservicio de IA con .NET que se conecta a CHATGPT</th>
            </tr>
            <tr>
                <td>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/rekiem233/">https://github.com/rekiem233/</a></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <th>Microservicio Java </th>
            </tr>
            <tr>
                <td>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/rekiem233/">https://github.com/rekiem233/</a></p>
                    <p>&nbsp;</p>
                </td>
            </tr>


            <tr>
                <th>Jira Visor - Aplicacion que se conecta a jira para generar reportes indicadores, y creacion de tareas</th>
            </tr>
            <tr>
                <td>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://rekiemsoftware-001-site3.jtempurl.com/">http://rekiemsoftware-001-site3.jtempurl.com/</a></p>
                    <p>&nbsp;</p>
                </td>
            </tr>
 
            <tr>
                <th>Estación de Trabajo Principal</th>
            </tr>
            <tr>
                <td>

                    <p> Modelo del sistema	Z790 PG SONIC  </p>
                    <p> Tipo de sistema	x64-based PC  </p>
                    <p> Procesador	13th Gen Intel(R) Core(TM) i9-13900K, 3000 Mhz, 24 procesadores principales, 32 procesadores lógicos  </p>
                    <p> Memoria física instalada (RAM)	64.0 GB DDR5 A 7200 MT/s  </p>
                    <p> 4TB de almacenamiento ultra speed 7GB transferencia por segundo </p>
                    <p> Enfriamiento por agua  CoolMaster 360  </p>
                    <p> Tarjeta de Video RTX 6600 4 Monitores extendidos para mayor productividad </p>
                    <p> Fuente de Poder de 850wats  </p>
                    <p> Gabinete ThermalTake Extended  </p>
 
                    
                    <img src="/img/diagramasarquitectura/workstationulisessandria.jpg" />

                    <hr />
                </td>
            </tr>
            <tr>
                <th>Dos Estaciónes de Trabajo Apoyo Linux Ubuntu Server y Desktop 18</th>
            </tr>
            <tr>
                <td>
                    <hr />
                    <p>Procesador	Intel(R) Xeon(R) CPU E5-2650 v4  2.20GHz, 2201 Mhz, 12 procesadores principales, 24 procesadores lógicos  </p>
                    <p>
                        Producto placa base	X99-RS9 Fabricante de la placa base	MACHINIST
                    </p>
                     <p> Memoria física instalada (RAM)	16.0 GB DDR5 A 3200 MT/s  </p>
                    <p> 2TB de almacenamiento  </p>
                    <p> Enfriamiento por aire  CoolMaster 180  </p>
                    <p> Tarjeta de Video RTX 580  </p>
                    <p> Fuente de Poder de 500wats  </p>
                    <p> Gabinete CoolMan  </p>

  

                    <hr />
                </td>
            </tr

              <tr>
                <th>Mac Os Ventura para compilacion de aplicaciones con XCode y NET Maui</th>
            </tr>
            <tr>
                <td>
                    <hr />
                    <p>Procesador	i7 8 Nucleos </p>
                    
                     <p> Memoria física instalada (RAM)	16.0 GB 3200mts  </p>
                    <p> 1TB de almacenamiento  </p>
               
  

                    <hr />
                </td>
            </tr>
        </tbody>
    </table>
</div>





<small>@localizer["lblsitedesc"]</small>