@page "/Contacto"
@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer


<PageTitle>@localizer["MenuContacto"]</PageTitle>


<h1>@localizer["MenuContacto"]</h1>
