@page "/Referencias"
@using Microsoft.Extensions.Localization
@using CVUSV.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer


<PageTitle>@localizer["MenuReferencias"]</PageTitle>


<h1>@localizer["MenuReferencias"]</h1>

@code {

}
